$Pikachu: #FFD700;
$Bulbasaur: #78C850;
$Charmander: #F08030;
$Squirtle: #6890F0;
$Jigglypuff: #EE99AC;

$primary-color: #000022;
$secondary-color:#001242;
$blue: #0094C6;
$dark-blue: #005E7C;
$light-blue: lightblue;
$black: #040f16;
$green: green;

$background-color1: #ffd700; 
$background-color2: #ffcc00; 
