@import '../utils/mixins.scss';
@import '../utils/variables.scss';

footer {
    flex-shrink: 0;
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}