@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.header {
    background-color: $primary-color;
    padding: 10px 20px;
    @include flex-center;
    justify-content: space-between;
  }