@import '../utils/mixins.scss';
@import '../utils/variables.scss';

#home {
    .productList {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }
  }