@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.navbar {
    ul {
      list-style-type: none;
      display: flex;
      gap: 20px;
      
      li a {
        color: white;
        text-decoration: none;
        &:hover {
          color: $accent-color;
        }
      }
    }
  }