@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.navbar {
  position: relative;
  padding: 10px;

  .menu-icon {
    cursor: pointer;
    display: block;
    padding: 10px;
    color: white;
    font-size: 24px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: $primary-color;

    li {
      a {
        display: block;
        padding: 10px;
        color: white;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($primary-color, 10%);
        }
      }
    }
  }

  @media (max-width: 749px) {
    ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1000;
      width: 100%;
    }

    &.open ul {
      display: block;
      width: 20vw
    }

    ul li a {
      width: 100%;
      box-sizing: border-box;
    }
  }

  @media (min-width: 750px) {
    .menu-icon {
      display: none;
    }

    ul {
      display: flex;
      background-color: transparent;

      li {
        margin-right: 20px;

        a {
          padding: 0;

          &:hover {
            background-color: transparent;
            color: $accent-color;
          }
        }
      }
    }
  }

  @media (min-width: 1000px) {
    ul li {
      margin-right: 30px;
    }
  }
}