@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;

    @media (min-width: 750px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1000px) {
        grid-template-columns: repeat(3, 1fr);
    }
}