@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.product-card {
    border-radius: 8px;
    border: 1px solid $primary-color;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;

    &:hover {
        transform: translateY(-5px);
    }

    header, footer {
        padding: 10px;
        text-align: center;
    }

    h2 {
        color: $text-color;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .price, .category, .provider {
        color: $text-color;
        margin-bottom: 5px;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .price{
        color: $price-color;
    }

    .imageProduct{
        width: 70%;
    }

    img {
        width: 100%
    }

    button {
        width: 60%;
    }

    
    &.type-1 { background-color: #7fcaff; } // Agua y refrescos
    &.type-2 { background-color: #ffd798; } // Arroz, legumbres y pasta
    &.type-3 { background-color: #f6beff; } // Bodega
    &.type-4 { background-color: #ffaab7; } // Carne
    &.type-5 { background-color: #e0caa0; } // Cereales y galletas
    &.type-6 { background-color: #fff177; } // Charcutería y quesos
    &.type-7 { background-color: #ffffff; } // Fruta y verdura
    &.type-8 { background-color: #fffde7; } // Huevos, leche y mantequilla
    &.type-9 { background-color: #ffe48b; } // Pan y bollería
    &.type-10 { background-color: #fff3e0; } // Pasta y arroz

    @media (min-width: 750px) {
        h2 {
            font-size: 20px;
        }
    }

    @media (min-width: 1000px) {
        h2 {
            font-size: 22px;
        }
    }
}