@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.product-search {
    background-color: lighten($primary-color, 40%);
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;

    label {
        color: $text-color;
        margin-bottom: 5px;
        display: block;
    }

    select, input {
        margin-bottom: 10px;
    }
}